body {
    background-color: #f8f9fa;
    color: #343a40;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ffc107;
}

a, a:hover, a:focus, a:active {
    color: #343a40;
}

.btn-custom {
    background-color: #ffc107;
    color: #343a40;
    border: none;
}

.btn-custom:hover {
    background-color: #e0a800;
    color: #343a40;
}

.table-dark {
    background-color: #343a40;
}

.table-dark th {
    color: #ffc107;
    background-color: #495057;
}

.table-dark td {
    color: #f8f9fa;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #495057;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #343a40;
}

.img-thumbnail {
    border: 2px solid #ffc107;
}

.modal-content {
    background-color: #f8f9fa;
    color: #343a40;
}

.modal-header, .modal-footer {
    border-color: #ffc107;
}

.btn-secondary {
    background-color: #6c757d;
    color: #f8f9fa;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.btn-danger {
    background-color: #dc3545;
    color: #f8f9fa;
}

.btn-danger:hover {
    background-color: #c82333;
}
